$btn-color:$light-blue;
$btn-alt-color:$purple;
%button {
  position: relative;
  -webkit-font-smoothing: antialiased;
  border-radius: $base-border-radius;
  color:$white;
  display: inline-block;
  font-family:$base-font-family;
  font-size:em(16);
  font-weight: 400;
  /*letter-spacing: 0.5px;*/
  line-height: 1;
  padding: 10px 25px 12px;
  position:relative;
  text-decoration: none;
  text-transform:uppercase;
  z-index:0;
  @include transition(background 0.1s linear);
  &:before{
    content:"";
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:-1;
    @include transform(skew(30deg));
    @include transition(background 0.1s linear);
  }
  &:hover {
      color: $white;
  }
  &:focus{
      color:$white;
      &:hover{
        color:$white;
      }
  }
  &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
  }
  &:after {
      content: '';
      @include transform(skew(-11deg));
  }
}
.gform_wrapper.gf_browser_ie{
    .gform_footer{
        input.button{
            padding: 21px 31px 22px !important;
        }
    }
}


.btn {
    @extend %button;
    background-color: transparent;
    &:before{
    	background-color: $light-blue;
    	border:1px solid $btn-color;
    }
    &:hover {
        background-color: transparent;
        &:before{
        	background-color: $purple;
    		  border:1px solid $purple;
        }
    }
    &:after {
        background-color: darken($btn-color, 10%);
    }
}

.btn-alt {
    @extend %button;
    background-color: transparent;
    &:before{
        background-color:$btn-alt-color;
        border:1px solid $btn-alt-color;
    }
    &:hover {
        background-color:transparent;
        &:before{
            background-color:darken($btn-alt-color, 10%);
            border:1px solid darken($btn-alt-color, 10%);
        }
    }
    &:after {
        background-color: darken($btn-alt-color, 10%);
    }
}

button,
input[type="submit"] {
    @extend .btn;
    @include appearance(none);
    border:1px solid $light-blue;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    color: $white;
    background-color: $light-blue;
    margin-top: em(20);
    &:hover{        
        background-color: $btn-alt-color;
        border:1px solid $btn-alt-color;
        color: $white !important;
    }
}

//Icon Buttons
%btn-ico {
    @extend %button;
    padding-right: 4em;
    &:after {
        content: '';
        display: block;
        right: 0;
        top: 0;
        bottom: 0;
        width: 3em;
        position: absolute;
        background-position: center center;
        background-size: 1.5em;
        background-repeat: no-repeat;
        @include transition(background 0.1s linear);
    }
    &:hover {
        &:after {
            background-size: 2em;
        }
    }
}

.btn-download {
    @extend %btn-ico;
    @extend .btn;
    &:after {
        background-image: url(img/ico-download.svg);
    }
}

.btn-alt-download {
    @extend %btn-ico;
    @extend .btn-alt;
    &:after {
        background-image: url(img/ico-download.svg);
    }
}

.btn-arrow {
    @extend %btn-ico;
    @extend .btn;
    &:after {
        background-image: url(img/ico-white-arrow-right.svg);
    }
}

.btn-alt-arrow {
    @extend %btn-ico;
    @extend .btn-alt;
    &:after {
        background-image: url(img/ico-white-arrow-right.svg);
    }
}
.gform_button{
    button{
        @extend %button;
    }
} 