.site-wrap {
  background: $white;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  //@include display(flex); //sticky footer
  //@include flex-direction(column); //sticky footer
  //min-height: 100%; //sticky footer
  &.nav-active{
    .site-header{
      height: 100% !important;
    }
  }
}

/*=============== Site Header ===============*/
.site-header-wrap {
  // position: relative;
  // height: 7.1875em;
}
.site-header {
  // position: relative;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.75);
  position: fixed;
  width: 100%;
  display: block;
  .site-nav-container{
    margin-top: em(-5);
  }
  .sh-sticky-wrap{
    &::before{
      background: #ffffff;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 30%;
      transform-origin: bottom left;
      -ms-transform: skew(30deg, 0deg);
      -webkit-transform: skew(30deg, 0deg);
      transform: skew(30deg, 0deg);
      display: none;
      @include mq(large){
        display: block;
      }
    }
  }
  .site-logo-wrap{
    &::before{
      background: #ffffff;
      content: "";
      position: absolute;
      right: -5.5em;
      top: 0;
      height: 100%;
      width: 90%;
      // max-width: em(480);
      transform-origin: bottom left;
      -ms-transform: skew(32deg, 0deg);
      -webkit-transform: skew(32deg, 0deg);
      transform: skew(32deg, 0deg);
      display: none;
      @include mq(large){
        display: block;
      }
    }
  }
  @include mq(large) {
    height: em(115);
  }
  .sh-icons.mob{
    display: block;
    float: none;
    padding: em(20) 0;
    background-color: $dark-blue;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 0.75);
    -ms-box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 0.75);
    -o-box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 0.75);
    &::before{
      position: absolute;
      content: '';
      background-color: $white;
      height: 100%;
      width: calc(60% - -1%);
      top: 0;
      left: -8%;
      transform: skew(30deg);
    }
    .shi-wrapper{
      width: 100%;
      max-width: 19em;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .sh-email-wrap{
        margin-top: em(0) !important;
        margin-right: 0 !important;
        vertical-align: top;
        &::after{
          background-color: #bdbaba !important;
          background-size: em(17) em(17);
          content: "";
          height: em(35);
          position: absolute;
          right: 5px;
          top: em(-6);
          width: 1px;
        }
        .sh-email{
          background-image: url("img/mail-blue.svg") !important;
          margin: 0;
        }
        &::after{
          background-color: $light-gray;
        }
      }
      .sh-ph-wrap{
        vertical-align: middle;
        margin-top: em(7) !important;
        .sh-ph{
          vertical-align: middle;
          span{
            color: $dark-blue !important;
            font-weight: 500;
            font-size: em(16);
          }
        }
        &:after{
          display: none;
        }
      }
      .sh-ico-search{
        position: relative;
        background-size: em(17) em(17);
        margin-top: em(4) !important;
        margin-left: em(25);
        &::after{
          background-color: #516882 !important;
          content: "";
          height: em(35);
          position: absolute;
          right: 30px;
          top: em(-9);
          width: 1px;
        }
      }
      @include mq(medium){
        max-width: 23em;
        .sh-email-wrap{
          &::after{
            right: em(-8);
          }
        }
        .sh-ico-search{
          &::after{
            right: em(35);
          }
        }
      }

    }
    @include mq(medium){
      &::before{
        left: -10%;
      }
    }
    @include mq(large){
      display: none;
    }
  }
}
.site-logo-wrap {
  float: left;
  margin-left: em(10);
  text-align: center;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: em(80);
  padding-top: em(20);
  @include mq(large) {
   padding-top: em(0);
   max-width: em(256);
   margin: em(0) 0 0 !important;
   width: 23%;
   height: em(115);
   @include transition (all .3s ease-in-out);
 }
 @include mq(xlarge) {
  width: 24%;
}
}
.sh-right{
  width: 75%;
  display: inline-block;
  vertical-align: middle;
  padding-top: em(8);
}
.site-logo {
  display: block;
  vertical-align: top;
  position: relative;
  z-index: 2;
  width: em(256);
  margin: auto auto;
  img {
    display: block;
    width: 100%;
  }
  @include mq(large){
  margin-bottom: em(4);
  margin-left: em(12);
  margin-top: em(32);
  }
}
.sh-sticky-wrap {
  // border-bottom: 1px solid rgba(255,255,255,0.45);
  background-color: $white;
  
  > .inner-wrap {
    padding: 0;
  }
  @include mq(large) {
    //height: 165px;
    background-color: $dark-blue;
    text-align: right;
    > .inner-wrap {
     padding-bottom: em(0) !important;
     padding-left: em(14);
     padding-right: em(14);
     @include transition (padding .3s linear);
   }
   &.stuck {
    background-color: $dark-blue; 
    -webkit-box-shadow: 0 2px 3px 0 rgba(2, 2, 2, 0.25);
    -moz-box-shadow: 0 2px 3px 0 rgba(2, 2, 2, 0.25);
    -ms-box-shadow: 0 2px 3px 0 rgba(2, 2, 2, 0.25);
    -o-box-shadow: 0 2px 3px 0 rgba(2, 2, 2, 0.25);
    box-shadow: 0 2px 3px 0 rgba(2, 2, 2, 0.25);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    .site-logo-wrap {
      // max-width: em(120);
      margin:0 !important;
      height: auto;
      .site-logo{
        margin: auto;
      }
    }
    .sh-utility-nav {
     margin-top: em(-59);
   }
   .sh-icons{
     margin-top: em(16);
     padding-top: em(11) !important;
     padding-bottom: em(0) !important;
   }
   > .inner-wrap {
     padding-top: em(0) !important;
     padding-bottom: em(0) !important;
   }
   .site-nav-container{
      padding-top: em(11) !important;
   }
   .sh-right{
    padding-top: em(25) !important;
    padding-bottom: em(25) !important;
   }
   .site-logo-wrap{
    padding-top: em(25) !important;
    padding-bottom: em(25) !important;
   }
   .site-nav{
     top: em(16);
   }
 }
}
}

.sh-utility-nav {
  overflow: hidden;
  font-family: $header-font-family;
  text-align: right;
  margin-bottom: em(24);
  margin-top: em(3);
  display: none;
  @include mq(large) {
  display: block;
  margin-bottom: em(9);
  margin-top: em(0);
  margin-right: em(5);
   @include transition (margin .3s linear);
 }
}

.site-search {}

//Site Header Icons
.sh-icons {
  float: right;
  display: none;
  @include mq(large) {
    display: block;
    margin-top: em(0);
    .rfq-btn{
      font-size: em(14);
    }
  }
  @include mq(xlarge) {
    .rfq-btn{
      font-size: em(16) ;
    }
  }
}
.sm-b{
  display: none;
}
%sh-ico {
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 1.2em;
  width: 2em;
  margin-left: 1em;
  text-align: center;
  //background-color:red;
  text-decoration: none;
  span {
    font-size: .75em;
  }
  @include mq(medium) {
    //float:right;
  }
}
.sh-ph-wrap {
  display: inline-block;
  line-height: em(24);
  padding-right: em(14);
  position: relative;
  &:after {
    background-color: $light-blue;
    content: "";
    height: em(21);
    position: absolute;
    left: 0;
    top: 1px;
    width: 1px;
    display: block;
  }
  @include mq(large) {
    line-height: em(30);
    padding-right: em(23);
    vertical-align: middle;
    &:after {
     top:0;
     height: em(33);
     display: none;
   }
 }
}
.sh-ph {
  display: inline-block;
  height: em(22);
  text-decoration: none;
  vertical-align: top;
  // width: em(21);
  span {
    display: block;
    color: $white;
    font-size: em(18);
    line-height: em(14,18);
  }
  &:hover{
    span {
      color: $light-blue;
    }
  }
  @include mq(large) {
    width: auto;
    height: auto;
    background-image: none;
    span {
      display: inline-block;
      line-height: em(16,24);
    }
  }
}

.sh-email-wrap {
  display: inline-block;
  line-height: em(22);
  margin-right: em(10);
  padding-right: em(14);
  position: relative;
  &:after {
    background-color: $light-blue;
    content: "";
    height: em(21);
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
  }
  @include mq(large) {
    margin-right: 0;
    padding-right: 0;
    vertical-align: middle;
    line-height: em(33);
    &:after {
      display:none;
    }
  }
}

.sh-email {
  background-image: url("img/mail.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: em(22, 18) em(16, 18);
  display: inline-block;
  height: em(20);
  margin-top: em(7);
  text-decoration: none;
  vertical-align: top;
  width: em(21);
  margin-right: em(19);
  span {
    display: none;
    color: $white;
    font-size: em(24);
    line-height: em(28,24);
    font-weight: 700;
  }
  &:hover{
    background-image: url("img/mail-sky-blue.svg");
    span {
      color: $white;
    }
  }
}
.sh-ico-search {
  background-image: url("img/search.svg");
  background-size: 1.1em 1.1em;
  height:1.31em;
  margin: em(1) 0 0;
  padding: 0;
  vertical-align: top;
  width: em(20);
  transform: scaleX(-1);
  @extend %sh-ico;
  @include mq(large) {
   background-image: url("img/search.svg");
   margin: em(6) em(24) em(2) 0;
   vertical-align: middle;
   &:hover {
    background-image: url("img/search-blue.svg");
  }
}
}

.sh-ico-menu {
  background-image: url(img/Hamburger.svg);
  background-size: em(32) em(32);
  background-position: right center;
  width: em(37);
  height: em(37);
  padding-right: em(80);
  padding-top: em(6);
  padding-bottom: em(24);
  vertical-align: top;
  color: $white;
  @extend %sh-ico;
  @include mq(large) {
    display: none;
  }
}
.rfq-btn {
  font-size: em(16);
  line-height: em(24,16);
  padding: em(6,16) em(15,16) em(8,16) em(15,16);
  margin-right: em(7,16);
  margin-left: em(5,16);
  background-color: transparent;
  font-family: $header-font-family;
  font-weight: 400;
  &:focus {
    background-color: transparent;
    color: $blue;
    &:hover {
      color:$white;
      background-color: $blue;
    }
  }
  @include mq(large) {
   margin-right: em(17,16);
 }
}

/*=============== Site Intro ===============*/
.site-intro-container{
  position: relative;
}
.site-intro {
  
}
.home-slider{
  min-height: em(430);
  .slides{
    li{
      min-height: em(430);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 90% center;
      position: relative;
      &::before{
        content: '';
        background-color: rgba($white, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .inner-wrap{
        position: relative;
        z-index: 1;
      }
    }
  }
  .flex-control-nav{
    bottom: 30px;
    @include mq(medium){
      bottom: 15px;
    }
  }
  .flex-direction-nav{
    display: none;
  }
  @include mq(xlarge){
    .slides{
      li{
        background-position: right center;
        &::before{
          display: none;
        }
      }
    }
  }
}
.si-content{
  text-align: center;
  max-width: em(725);
  padding-left: em(0);
  margin-top: em(25) !important;
  @include mq(large){
    padding-left: em(20);
  }
}
.si-header{
  font-size: $xxlarge-font-size;
  font-weight: 200;
  color: $dark-gray !important;
  span{
    font-weight: 600;
  }
  @include mq(medium){
    font-size: em(80);
  }
  @include mq(large){
    font-size: em(90);
  }
  
}
.si-text{
  font-size: $medium-font-size*0.97;
  margin-bottom: em(20);
  margin-top: em(0);
  line-height: em(26, 20);
  p{
    margin: 0;
  }
}
/*=============== Site Content ===============*/

//Layout formatting is in patterns.scss
.site-content {
  @include flex(1 0 auto); //sticky footer
}
/*=============== Uptime Module Start ===============*/

.uptime-module{
  .inner-wrap{
    padding-top: em(75);
    padding-bottom: 0;
  }
  .um-img{
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
  }
  .um-content{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-top: em(20);
  }
  @include mq(medium){
    .um-img{
      width: 51%;
      vertical-align: bottom;
    }
    .um-content{
      width: 48%;
      text-align: left;
      margin-top: em(00);
      margin-bottom: em(20);
    }
  }
  @include mq(large){
    .um-img{
      vertical-align: middle;
    }
    .um-content{
      max-width: em(400);
    }
  }
}
.um-shadow{
  display: none;
  @include mq(medium){
    display: block;
  }
}
.um-img{
  img{
    display: block;
    margin: 0 auto;
    @include mq(medium){
      margin-right: em(20);
      margin-bottom: 0;
      float: right;
    }
    @include mq(medium){
      margin-right: em(32);
    }
  }
}
.um-heading{
  color: $purple;
  @include display-font-size;
  text-transform: none;
  margin-bottom: em(3, 18);
}
.um-text{
  font-size: $medium-font-size;
  margin-top: 0;
  line-height: em(26, 20);
  @include mq(medium){
    max-width: em(400);
  }
}
.um-link{
  font-weight: 600;
  font-size: em(18);
  &:hover{
    text-decoration: none;
  }
}
/*=============== Uptime Module End ===============*/

/*=============== Solution and Services Module Start ===============*/

.solution-services-module{
  width: 100%;
  display: block;
  .inner-wrap{
    padding-bottom: em(65);
  }
  @include mq(large){
    padding-bottom: em(50);
  }
}
.ssm-heading-wrap{
  width: 100%;
  text-align: center;
  margin-bottom: em(36);
}
.ssm-heading{
  margin-bottom: em(32);
}

.ssm-title{
  font-size: $xxlarge-font-size;
  font-weight: 600;
  span{
    font-weight: 300;
    color: $light-blue;
  }
}
.ssm-subtitle{
  font-size: $medium-font-size;
}
.ssm-wrap{
  text-align: center;
  display: block;
  width: 100%;
}
.ssm-item-wrap{
  position: relative;
  padding: em(45) em(35) em(25) em(35); 
  text-align: center;
  text-decoration: none;
  background-color: $dark-blue;
  background-image: linear-gradient(to bottom, rgba(0,156,223,1) 0%, rgba(15,46,81,1) 100%);
  @include transition(all 0.5s linear);
  max-width: em(375);
  display: block;
  margin: 0 auto em(30) auto;
  height: em(360);
  max-height: em(360);
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(img/solutions_Service.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .6; 
    }
  &:hover{
    background-image: none;
    &:before {
      background-image: none;
    }
    .corner{
      &::after{
        background-image: url(img/minus.svg);
      }
    }
  }
  @include mq(medium){
    margin: 0 2.3576515979% em(30) auto;
    height: em(330);
    max-height: em(330);
  }
}
.corner{
  position: absolute;
  border-style: solid;
  border-width: 0 0 100px 60px;
  border-color: transparent transparent #ffffff transparent;
  bottom: -1px;
  right: -1px;
  display: block;
  text-align: center;
  &::after{
    content: '';
    background-image: url(img/plus.svg);
    height: 25px;
    width: 50px;
    display: block;
    left: -37px !important;
    top: 75px !important;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
.ssmi-img{
  text-align: center;
  position: relative;
  img{
    height: em(115);
    max-height: em(115);
    max-width: em(150);
  }
  @include mq(medium){
    img{
      height: em(115);
      max-height: em(115);
      max-width: em(120);
    }
  }
  @include mq(large){
    img{
      height: em(115);
      max-height: em(115);
      max-width: em(150);
    }
  }
}
.ssmi-subtitle{
  font-size: $medium-font-size;
  font-weight: 600;
  text-transform: none;
  color: $white;
  position: relative;
  margin-top: em(10);
  span{
    font-weight: 300;
  }
}
.ssmi-heading{
  font-size: $xlarge-font-size;
  font-weight: 600;
  color: $light-blue;
  text-transform: uppercase;
  position: relative;
  line-height: em(18);
  @include mq(medium){
    font-size: em(15);
  }
  @include mq(large){
    font-size: em(23);
  }
  @include mq(xlarge){
    font-size: em(30);
  }
}
/*=============== Solution and Services Module End ===============*/

/*=============== Adapt One and Done Module Start ===============*/
.adapt-one-done-module{
  background-image: url(img/value-prop-bg.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.20);
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
  } 
  .aodm-bottom-heading-wrap{
    width: 100%;
    margin-right: em(0);
    text-align: center;
    display: inline-block;
    position: relative;
  }
  .aodm-content-wrap{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
  }
  @include mq(medium){
    .aodm-bottom-heading-wrap{
      width: 60%;
      margin-right: em(18);
    }
    .aodm-content-wrap{
      width: 27%;
    }
  }
  @include mq(large){
    &::before{
      display: none;
    } 
    .aodm-bottom-heading-wrap{
      width: 70%;
    }
    .aodm-content-wrap{
      width: 27%;
    }
  }
  @include mq(xlarge){
    .aodm-bottom-heading-wrap{
      width: 79%;
    }
    .aodm-content-wrap{
      width: 19%;
    }
  }
}
.aodm-top-heading-wrap{
  margin-top: -2em !important;
  position: relative;
  &::before{
    background: #009bdf;
    content: "";
    position: absolute;
    left: -50%;
    top: 0;
    height: 100%;
    width: 100%;
    // max-width: em(480);
    transform-origin: bottom left;
    -ms-transform: skew(-37deg, 0deg);
    -webkit-transform: skew(-37deg, 0deg);
    transform: skew(-37deg, 0deg);
  }
  @include mq(medium){
    margin-top: -4em !important;
  }
  @include mq(mediumv){
    margin-top: -5em !important;
  }
  @include mq(large){
    margin-top: -5em !important;
  }
}
.aodm-heading-wrap{
  position: relative;
  max-width: em(683);
  width: 100%;
  padding: em(10) 0;
  &::before{
    background: #009bdf;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 85%;
    // max-width: em(480);
    transform-origin: bottom left;
    -ms-transform: skew(-37deg, 0deg);
    -webkit-transform: skew(-37deg, 0deg);
    transform: skew(-37deg, 0deg);
  }
  @include mq(medium){
    width: 85%;
  }
}
.aodm-top-heading{
  color: $white;
  position: relative;
  z-index: 1;
  font-size: $small-font-size * 0.9;
  text-transform: none;
  margin: 0;
  text-align: left;
  font-family: $base-font-family !important;
  @include mq(medium){
    font-size: $xmedium-font-size;
    padding:0 em(25,14) 0 0;
  }
  @include mq(large){
    font-size: $xxlarge-font-size;
    padding:0 em(25,36) 0 0;
  }
}
.aodm-bottom-heading{
  font-size: $xxlarge-font-size;
  color: $white;
  font-weight: 300;
  text-transform: none;
  margin: em(10) 0 0 0 ;
  text-align: center;
  span{
    font-weight: 600;
  }
  @include mq(medium){
    font-size: $display-font-size * 1.1;
    text-align: left;
  }
  @include mq(large){
    font-size: $display-font-size * 2;
  }
  @include mq(xlarge){
    font-size: $display-font-size * 2.5;
  }
}
.card{
  // margin: em(55) 0;
  display: block;
  position: relative;
  &:nth-of-type(1){
    height: 150px;
    &::after{
      content: '';
      position: absolute;
      width: 35%;
      left: 50%;
      bottom: -5%;
      height: em(2);
      background-color: #b11cab;
      transform: translate(-50%, -60%);
    }
    
    .af-content{
      margin-top: em(40);
    }
  }
  &:nth-of-type(2){
    height: 150px;
    &::after{
      content: '';
      position: absolute;
      width: 35%;
      left: 50%;
      bottom: -5%;
      height: em(2);
      background-color: #b11cab;
      transform: translate(-50%, -40%);
    }
    .af-content{
      margin-top: em(8);
    }
  }
  &:nth-of-type(3){
      height: 100px !important;
    .af-content{
      margin-top: em(25);
    }
  }
  
}

.aodm-wrap-link{
  text-decoration: none;
}
.af-content{
  font-size: em(24);
  font-weight: 500;
  color: $white;
  position: relative;
  line-height: em(20);
  display: block;  
  -webkit-font-smoothing: subpixel-antialiased;
  span{
    font-weight: 300;
    display: block;
  }
}
.aodm-btn{
  font-weight: 500;
  margin-top: em(45);
}
.cardBack{
  padding: em(9) em(20) em(20) em(20);
}
.aodm-img{
  margin: 0 auto;
  display: block;
}
.aodm-title{
  font-size: $medium-font-size;
  display: block;
  color: #000;
  font-weight: 600;
}
.aodm-link{
  display: block;
  font-size: $small-font-size;
  font-weight: 600;
}
/*=============== Adapt One and Done Module Start ===============*/





/*=============== Trusted By Module Start ===============*/
.trusted-by-module{
  >.inner-wrap{
   padding: 2.2em 1.5em 2.2em 1.5em; 
  }
}
.tbm-content{
  display: block;
  width: 100%;
  .tbm-heading-wrap{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  .tbm-logo-wrap{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  @include mq(medium){
    .tbm-heading-wrap{
      width: 21%;
    }
    .tbm-logo-wrap{
      width: 78%;
    }
  }
}
.tbm-heading{
  font-size: $small-font-size;
  font-weight: 700;
  padding-left: em(5);
  span{
    font-weight: 500;
    display: block;
    text-transform: none;
  }
}
.tbm-logo-wrap{
  .item{
    display: inline-block;
    .item-img{
      display: table-cell;
      vertical-align: middle;
      height: em(70);
    }
  }
}
.tbm-carousel{
  .owl-nav{
    button{
      &.owl-next{
        background: url(img/ico-arrow.svg) no-repeat left top !important;
        background-size: 10px 20px !important;
        transform: rotate(180deg);
        width: 0.8em !important;
        height: 1.5em !important;
        right: -6% !important;
        top: 10% !important;
      }
      &.owl-prev{
        background: url(img/ico-arrow.svg) no-repeat left top !important;
        background-size: 10px 20px !important;
        transform: rotate(0deg) !important;
        width: 0.8em !important;
        height: 1.5em !important;
        left: -6% !important;
        top: 15% !important;
        &.disabled{
          display: none;
        }
      }
      &::before{
        background-color: transparent !important;
        border: none !important;
      }
      &::after{
        background-color: transparent !important;
        border: none !important;
      }
    }
  }
  @include mq(large){
    .owl-nav{
      button{
        &.owl-next{
          right: -5% !important;
        }
        &.owl-prev{
          left: -5% !important;
        }
      }
    }
  }
}
/*=============== Trusted By Module End ===============*/

/*=============== Get Started Module Start ===============*/
.get-started-module{
  display: block;
  width: 100%;
  .get-started-form{
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }
  .download-wrap{
    width: 100%;
    display: block;
    vertical-align: top;
    position: relative;
    margin: em(50) auto 0 auto;
    &::before{
      content: '';
      border: 2.7px solid #e4e4e4;
      width: 100%;
      position: absolute;
      border-radius: 5px;
      top: -25px;
      // display: none;
    }
  }
  // @include mq(mediumv){
  //   .download-wrap{
  //     &::before{
  //       display: block;
  //       top: em(-52) !important;
  //     }
  //   }
  // }
  @include mq(large){
    .get-started-form{
      width: 60%;
      float: left;
      // &::before{
      //   display: block;
      //   top: em(-40);
      // }
    }
    .download-wrap{
      width: 35%;
      margin-top: em(0);
      float: right;
      &::before{
        display: block;
        top: em(-40);
      }
    }
  }
}
.get-started-form{
  position: relative;
  &::before{
    content: '';
    border: 2.7px solid #e4e4e4;
    width: 100%;
    position: absolute;
    border-radius: 5px;
    top: em(-15);
    // display: none;
    //max-width: em(670);
    left: 50%;
    transform: translateX(-50%);
  }
  @include mq(large){
    &::before{
      display: block;
      top: em(-40);
    }
  }
}

.gsm-wrap{
  .gsm-input-wrap{
    width: 100%;
    display: inline-block;
  }
  @include mq(medium){
    .gsm-input-wrap{
      width: 49%;
      display: inline-block;
    }
  }
}
.gsmd-wrap{
  max-width: em(400);
  margin: 0 auto;
  .gsmd-img{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-top: em(20);
    img{
      margin: 0 auto;
      display: block;
    }
  }
  .gsmd-content{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding-left: em(15);
  }
  @include mq(medium){
    .gsmd-img{
      width: 49%;
      display: inline-block;
      img{
        margin: 0 auto;
      }
    }
    .gsmd-content{
      width: 48%;
      display: inline-block;
    }
  }
}
.gsm-wrap{
  margin: 0 auto;
  max-width: em(670);
  .gfield {
    position: relative;
    margin: em(5) em(5) 0 0;
    width: 100%;
    display: inline-block;
    &:nth-of-type(odd){
      margin-right: em(12);
    }
    .gfield_label {
      position: absolute;
      top: 13px;
      left: 15px;
      font-size: em(16);
      color: $gray;
      transition: .1s all linear;
      cursor: text;
      font-weight: 500;
      margin-left: -15px;
      z-index: 1;
      &.active{
        top: -10px;
        font-size: em(14);
      }
    }
    .ginput_container{
      input[type='text'],
      input[type='email'],
      textarea,
      select{
        padding: 10px 10px 12px 0px;
        font-size: em(14);
        color: $gray;
        border: 0;
        border-bottom: 1px solid $extra-light-gray !important;
        background-color: #fff;
        transition: .1s all linear;
        height: em(50) !important;
        box-shadow: none;
        font-weight: 300;
        /* for Firefox */
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
        margin-bottom: em(13) !important;
      }
    }
    .ginput_container_select{
      position: relative;
      &::after{
        content: '';
        position: absolute;
        background-image: url(img/drop-arrow.png);
        background-repeat: no-repeat;
        right: 5px;
        top: 50%;
        display: block;
        width: em(17);
        height: em(10);
      }
      select{
        // margin-bottom: 0;
        &::-ms-expand {
          display: none;
        }
      }
    }
    
  }
  @include mq(medium){
    .gfield {
      width: 48%
    }
  }
}
.gsm-heading{
  font-size: $xlarge-font-size;
  font-weight: 600;
  text-transform: none;
  text-align: center;
  span{
    color: $light-blue;
    font-weight: 400;
  }
  @include mq(large){
    text-align: left;
  }
}
.gsmd-title{
  font-size: $medium-font-size;
  text-transform: none;
  font-weight: 600;
  margin-bottom: em(10);
}
.gsmd-text{
  font-size: $small-font-size;
  line-height: em(24);
  margin-top: em(5);
}
.gsmd-link{
  font-size: $small-font-size;
  font-weight: 600;
  &:hover{
    text-decoration: none;
  }
}
/*=============== Get Started Module End ===============*/



.site-content-primary {}

.site-content-secondary {}


/*=============== Site Footer ===============*/

.site-footer {
  background-color: $dark-blue;
  text-align: center;
  color: $white;
  background-image: url(img/footer-bg.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  @include mq(medium){
    text-align: left;
  }
}
.sf-wrap{
  margin-top: em(25) !important;
  .sf-solution-wrap{
    width: 100%;
    display: block;
    margin-bottom: em(50);
  }
  .sf-company-wrap{
    width: 100%;
    display: block;
    margin-bottom: em(50);
  }
  .sf-address-wrap{
    width: 100%;
    display: block;
    margin-bottom: em(50);
  }
  @include mq(medium){
    .sf-solution-wrap{
      width: 41%;
      display: inline-block;
      vertical-align: top;
      margin-bottom: em(0);
    }
    .sf-company-wrap{
      width: 33%;
      display: inline-block;
      vertical-align: top;
      margin-bottom: em(0);
    }
    .sf-address-wrap{
      width: 25%;
      display: inline-block;
      vertical-align: top;
      margin-bottom: em(0);
    }
  }
}
.sf-heading{
  font-size: em(16);
  font-weight: 500;
  color: $white;
  text-align: center;
  margin-top: 0;
  margin-bottom: em(25, 16);
  a{
    color: $white;
    text-decoration: none;
  }
  @include mq(medium){
    text-align: left;
  }
}
.sf-list{
  font-weight: 500;
  line-height: $base-line-height * 1.3;
  a{
    color: $white;
    text-decoration: none;
    &:hover{
      color: $light-blue;
    }
  }
}
.sf-sublist{
  font-weight: 300;
  margin-left: em(15);
}
.sf-company-list{
  line-height: $base-line-height * 1.3;
  a{
    color: $white;
    text-decoration: none;
    &:hover{
      color: $light-blue;
    }
  }
}
.sf-address{
  color: $white;
  font-weight: 300;
  font-size: em(16);
  margin-bottom: em(30);
}
.sf-ph{
  display: block;
  color: $white;
  text-decoration: none;
  &:active,
  &:hover{
    color: $white !important;
  }
}
.sf-email{
  display: block;
  color: $light-blue;
  text-decoration: none;
  &:active,
  &:hover{
    color: $white !important;
    text-decoration: underline;
  }
}
.sfs-wrap{

}
.copyright{
  margin: em(40) 0 em(8) 0 !important;
  .sf-created{
    color: $white;
    display: block;
    margin: 0;
    text-align: center;
    font-size: em(16);
    span{
      display: inline-block;
      color: $white;
      position: relative;
      margin-right: em(15);
      &::before{
        content: '';
        position: absolute;
        height: 90%;
        width: em(2);
        background-color: $dark-gray;
        right: em(-10);
        top: em(2);
      }
    }
    a{
      text-decoration: none;
      &:hover{
        color: $white;
        text-decoration: underline;
      }
    }
    @include mq(large){
      text-align: left;
      display: inline-block;
    }
  }
  .sf-nav-wrap{
    float: none;
    text-align: center;
    display: block;
    margin-top: em(30);
    .sf-nav{
      li{
        display: inline;
        a{
          text-decoration: none;
          &:hover{
            color: $white;
            text-decoration: underline;
          }
        }
        &:nth-of-type(2){
          margin: 0 em(15);
          position: relative;
          &::before{
            content: '';
            position: absolute;
            height: 90%;
            width: em(2);
            background-color: $dark-gray;
            left: em(-8);
            top: em(2);
          }
        }
        &:nth-of-type(3){
          position: relative;
          &::before{
            content: '';
            position: absolute;
            height: 90%;
            width: em(2);
            background-color: $dark-gray;
            left: em(-10);
            top: em(2);
          }
        }
      }
    }
    @include mq(large){
      text-align: center;
      display: inline-block;
      float: right;
      margin-top: 0;
    }
  }
}
.sf-small {
  background-color: $medium-gray;
  text-align: center;
  .inner-wrap {
    padding-top: $baseline*2;
    padding-bottom: $baseline*2;
  }
}

//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
  display: none;
}


/*=============== Search ===============*/

.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0;
}

.search-row {
  display: table-row;
  width: 100%;
}

.search-cell1 {
  display: table-cell;
  padding-right: 0.4375em;
}

.search-cell2 {
  display: table-cell;
  width: 2.1875em;
  border: 0;
}

.search-text {
  font-size: .8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important;
}

.search-submit {
  width: 100%;
  height: 2.3em;
  border: 0 !important;
  float: right;
  background: url(img/ico-search.svg) no-repeat center center !important;
  margin-top: 0 !important;
  &:focus{
    outline: none !important;
  }
}


@include mq(medium) {
  .site-search {
    width: 100%;
  }
  .search-text {
    height: 2.3em;
  }
  .search-submit {
    height: 2.3em;
  }
}

@include mq(large) {
  .search {}
  .search-text {}
}

.search-module {
  background-color: $base-color;
  height: 6.3em;
  margin-top: -6.3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  position: fixed;
  left:0;
  right:0;
  z-index: 10000;
  @include transition (all .2s ease-in-out);
  &.active {
    margin-top: 0;
  }
  .inner-wrap {
    padding: 0.3em 1.5em 1em;
  }
}

.search-exit {
  float: right;
  margin-left: 10px;
  margin-top: em(2) !important;
  margin-right: em(15);
  //position:absolute;
  top: 0;
  right: 0;
}


/*=============== Read More ===============*/

.main-content {
  display: block;
  overflow: hidden;
  position: relative;
  @include mq(medium) {
    display: inline;
  }
}
@include mq(small) {
  .height {
    max-height: em(250);
    &:before {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
      bottom: 0;
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
  .heightAuto {
    max-height: em(5000);
    &:before {
      display: none;
    }
  }
}

.link {
  display: block;
  text-align: center;
  font-weight: bold;
  color: $blue;
  padding-bottom: em(10);
  @include mq(medium) {
    display: none;
  }
}