//Site Nav
.site-nav,
#hs_menu_wrapper_primary_nav {
  // background-color: $nav-background-mobile;
  font-family: $header-font-family;
  &.active {
    //display:block;
  }
  @include mq(large) {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    // background-color: $nav-background-medium;
    span {
    white-space: nowrap;
  }
  }
  @include mq(xlarge) {
    // background-color: $nav-background;
  }
}

.sn-level-1,
#hs_menu_wrapper_primary_nav > ul {
  margin: 0;
  padding: 0;
  @include mq(large) {
    height: $nav-height;
    @include display(flex); //display: flex;
  }
}

.sn-li-l1,
.hs-menu-depth-1 {
  display: block;
  border-bottom: $nav-border-mobile;
  // background-color: $nav-background;
  position: relative;
  // a.active {
    //   background-color: $nav-active-background-mobile;
    // }
    span {
      font-size: $nav-font-size-mobile;
    }
    > a {
      display: block;
      //height: $nav-height;
      line-height: em(20);
      color: $nav-text-color-mobile;
      text-decoration: none;
      text-transform: uppercase;
      padding: em(15) em(40) em(14) em(20);
      &:visited {
        color: $nav-text-color-mobile;
      }
      &.active {
        //background-color: $nav-active-background-mobile;
      }
      &:hover {
        color: $nav-text-color-hover-mobile;
      }
    }
    &.has-subnav,
    &.menu-item-has-children,
    &.hs-item-has-children {
      .m-subnav-arrow {
        cursor: pointer;
        padding-right: 0em;
        background-image: url(img/ico-arrow-down-white.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: em(25,20);
        display: block;
        width: em(40,20);
        height: em(50);
        position: absolute;
        background-color: transparent;
        right: 0;
        top: 0;
        bottom: 0;
        &.active {
          transform: rotate(180deg);
        }
        @include mq(large) {
          display: none;
        }
      }
      > a {
        span {
        /*padding-right: 0em;
        background-image: url(img/ico-arrow-down.svg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: em(12);
        display: block;*/
      }
      &.active {
        span {
          transform: rotate(180deg);
        }
      }
    }
  }
  &:hover {
    >a{
      color: $light-blue !important;
    }
  }
  @include mq(large) {
    height: $nav-height;
    float: left;
    border-bottom: 0;
    border-right: 0;
    @include flex-grow(1); //flex-grow: 1;
    text-align:center;
    margin-right: em(5);
    &:last-child {
      margin-right:0;
    }
    span {
      font-size: em(14);
    }
    > a {
      padding: 0 $nav-spacing-medium*0.7;
      color: $nav-text-color-medium;
      line-height: em(44);
      &:hover {
        color: $nav-text-color-hover-medium;
      }
      &:visited {
        color: $nav-text-color-medium;
      }
    }
      &:hover {
        .sn-level-2,
        .hs-menu-children-wrapper {
          display: block;
        }
      }
      &.has-subnav,
      &.menu-item-has-children,
      &.hs-item-has-children {
        > a {
          span {
          //  background-image: url("img/arrow-dropdown-menu.svg");
           background-position: right em(10,20);
           background-repeat: no-repeat;
           background-size: em(9,20) em(9,20);
           display: inline;
           padding-right: em(9,20);
         }
         &.active {
          span {
            background-image: url(img/ico-arrow-down.svg);
          }
        }
      }
    }
    &:hover {
      // background-color: $nav-hover-medium;
    }
  }
  @include mq(xlarge) {
    margin-right: em(13);
    span {
      font-size: $nav-font-size;
    }
    > a {
      padding: 0 $nav-spacing;
      color: $nav-text-color;
      &:hover {
        color: $nav-text-color-hover;
      }
    }
    &:hover {
      // background-color: $nav-hover;
    }
  }
}

.sn-level-2,
.hs-menu-children-wrapper {
  padding: 0;
  margin: 0;
  display: none;
  position: relative;
  background-color: $blue;
  &.active {
    display: block;
  }
  &::before{
    content: '';
    position: absolute;
    top: em(-13);
    left: 25%;
    height: em(20);
    width: em(20);
    background-image: url(img/menu-trignle.svg);
    transform: rotate(180deg);
    display: none;
  }
  @include mq(large) {
    left: em(-10);
    top: em(50);
    min-width: em(400);
    position: absolute;
    &.active {
      display: none;
    }
    &::before{
      display: block;
    }
  }
}

.sn-li-l2,
.hs-menu-depth-2 {
  background-color: $white;
  > a {
    padding: em(10) em(17) em(12) em(20);
    color: $dark-blue;
    display: block;
    text-decoration: none;
    line-height: em(20);
    font-weight: 500;
    text-transform: uppercase;
    font-size: em(16);
    text-align: left;
    span {
      font-size: $nav-subnav-font-size-mobile;
      line-height: 1.25em;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &:first-child {
    > a {
    }
  }
  &:last-child {
    > a {
    }
  }
  &:hover {
    background-color: $nav-subnav-hover-mobile;
    a{
      color: $light-blue;
    }
  }
  
  @include mq(large) {
    position:relative;
    > a {
      padding: 0 $nav-spacing-medium*1.2;
      line-height: $nav-subnav-height-medium;
      border-top: 0;
      border-right:0;
      span {
        font-size: $nav-subnav-font-size-medium;
        vertical-align: inherit;
      }
    }
    &:first-child {
   > a {
    border-top: 0;
   }
    }
    &:hover {
      background-color: $nav-subnav-hover-medium;
      .sn-level-3 {
        display: block;
        margin:em(-25);
        padding:em(25);
      }
    }
  }
  @include mq(xlarge) {
    > a {
      padding: 0 $nav-spacing*2;
      line-height: $nav-subnav-height;
      span {
        font-size: em(16);
      }
    }
    &:hover {
      background-color: $nav-subnav-hover;
    }
  }
}

.sn-level-3 {
  //background-color:green;
  padding: 0;
  margin: 0;
  padding-top: 1px;
  display: none;
  position: relative;
  // border-left: 1px solid lighten($nav-hover, 10%);
  &.active {
    display: block;
  }
  @include mq(large) {
    position: absolute;
    top: 0;
    left: 100%;
    //width:22.5em;
    &.active {
      display: none;
    }
  }
}

.sn-li-l3 {
  @extend .sn-li-l2;
}

//Site Nav Container
.site-nav-container {
  background-color: $nav-background-mobile;
  width: 100%;
  //height: 100%;
  //left:-20em;
  right: -100%;
  top: 0;
  z-index: 1000;
  position: absolute;
  @include transition(all .25s ease-in-out);
  &.active {
    right: 0;
    .rfq-btn{
      display: block;
      margin: em(40) auto;
      max-width: 12em;
    }
    .sm-b{
      display: block;
    }
  }
  @include mq(large) {
    width: auto;
    height: auto;
    right: auto;
    bottom: auto;
    top: auto;
    position: static;
    background-color: transparent;
    max-width: none;
    display: inline-block;
    margin-right: em(10);
  }
  @include mq(xlarge) {
    margin-right: em(21);
  }
}

.site-nav-container-screen {
  position: absolute;
  display: none;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  text-decoration: none;
  &.active {
    display: block;
  }
  @include mq(large) {
    display: none !important;
  }
}

.close-menu {
  display: inline-block;
  clear: both;
  //width:5em;
  position: relative;
  background-image: url(img/close-white.svg);
  background-size: em(17) em(25);
  background-position: right center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  width: em(30);
  height: em(26);
  text-decoration: none;
  padding-right: em(65);
  color: $white;
  &:visited {
    color: $white;
  }
  &:hover {
    color: $white;
  }
  &:after {
   /* content: '';
    background-color: transparent;
    background-image: url(img/ico-exit.svg);
    background-size: em(13) em(13);
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: em(25);
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;*/
  }
  @include mq(large) {
    display: none;
  }
}

.snc-header { 
  border-bottom: 1px solid #30567d;
  padding: em(35) em(24) em(32) em(16);
  text-align: center;
  @include mq(large) {
    padding: 0;
    display: none;
  }
}

.snc-footer {}
