// Inner Wrap

/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/

.inner-wrap {
  @include outer-container;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  @include pad($baseline*3 $baseline*2 $baseline*3 $baseline*2);
  @include mq(medium) {
    @include pad($baseline*5 $baseline*3 $baseline*5 $baseline*3);
  }
}

.inner-wrap-narrow {
  @extend .inner-wrap;
  max-width: em(1000);
}

.inner-wrap-wide {
  @extend .inner-wrap;
  max-width: em(1400);
}

.inner-wrap-fullwidth {
  @extend .inner-wrap;
  max-width: 100%;
}


/*=============== Sections ===============*/

.section-header {
  .inner-wrap {
    padding-top: $baseline*3;
    padding-bottom: $baseline*3;
  }
  h1 {
    margin: 0;
    color: $light-blue;
    span{
      color: $dark-blue;
    }
  }
  p {
    margin: .5em 0 0 0;
    @extend .emph;
  }
}
.breadcrumb-wrapper {
  background-color: $light-gray;
  .inner-wrap {
    padding-top: $baseline*3.5;
    padding-bottom: $baseline*3.5;
  }
}
.section-cta {
  text-align: center;
}
.dest-sub{
  font-weight: 600;
  color: $light-blue;
}
.dest-link{
  color: $dark-blue;
  font-weight: 400;
}


.blockquote-text{
  padding: 0;
  margin: 0;
  background-color: $light-blue;
  display: inline-block;
  width: 100%;
  position: relative;
  &::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 65%;
    right: 0;
    top: 0;
    background-color: #fff;
  }
  >.inner-wrap{
    padding-bottom: 0;
    padding-top: 0;
  }
}
.bt-heading{
  color: $light-blue;
  font-size: em(18, 18);
  font-weight: 600;
}
.bt-content{
  position: relative;
  width: 65%;
  float: right;
  font-size: $medium-font-size*1;
  &::after{
    position: absolute;
    content: '';
    background-color: #fff;
    top: 0;
    left: -80px;
    height: 101%;
    width: 100%;
    transform: skew(-30deg);
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: em(-90);
    height: 100%;
    width: 100%;
    background-image: url(img/quote.png);
    background-repeat: no-repeat;
    background-position: left top em(15);
    background-size: inherit;
    z-index: 1;
  }
  @include mq(medium){
    padding-right: em(100);
    width: 80%;
    &::after{
      left: -70px
    }
  }
  @include mq(large){
    padding-right: em(140);
    &::after{
      left: -45px;
    }
  }
}
.bt-info{
  font-size: $small-font-size*0.8;
  color: $dark-blue;
  line-height: em(24, 18);
  position: relative;
  z-index: 1;
  @include mq(medium){
    font-size: 21px;
  }
}

/*================ Dest Slider ============= */

.dest-carousel {
  max-width: em(467);
  margin:0;
  width: 100%;
  #carousel {
    width: 90%;
    // margin:0 auto;
    .slides {
      li {
        margin: em(8) em(4) 0;
        position: relative;
        opacity: 1;
        widows: 100px !important;
        img {
          width: 100%;
        }
        &:hover{
          &::after{
          position: absolute;
          content: '';
          background-color: rgba(242, 82, 68, 0.62);
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        }
      }
      .flex-active-slide{
        opacity:1;
        position: relative;
        // &::after{
        //   position: absolute;
        //   content: '';
        //   background-color: rgba(242, 82, 68, 0.62);
        //   width: 100%;
        //   height: 100%;
        //   top: 0;
        //   left: 0;
        // }
      }
    }
    .flex-direction-nav {

      li {
        border: none;
        margin: 0;
        &:after {
          display: none;
        }
        a{
         height:em(35);
         width:em(35);
         text-decoration: none;
       }
     }
     .flex-prev {
       display: none;
      left: em(-40) !important;
      opacity: 1;
      top: 60%;
      text-decoration: none;
      &:before {
        background-image:url(img/ico-arrow-blue.svg);
        background-size:em(35) em(35) !important;
        width: em(35);
        height: em(35);
        top: 0;
        left: 0;
      }
      &:hover{
        &:before {
          background-image:url(img/ico-arrow-blue.svg);
        }
      }
    }
    .flex-next {
      right: em(-40) !important;
      opacity: 1;
      top: 60%;
      &:before {
       background-image:url(img/ico-arrow-blue.svg);
       transform: rotate(180deg);
       background-size:em(35) em(35) !important;
       width: em(35);
       height: em(35);
       top: 0;
       left: 0;
     }
     &:hover{
      &:before {
        background-image:url(img/ico-arrow-blue.svg);
      }
    }
  }
}
}
@include mq(medium) {
  #carousel {
    .flex-direction-nav {
      li {
        a{
         height:em(45);
         width:em(45);
       }
     }
     .flex-prev {
      left: em(-32) !important;
      opacity: 1;
      top: 55%;
      text-decoration: none;
      &:before {
        background-size:1em 2.82em !important;
        width: 1.5em;
        height: 2.82em;
        top: 0;
        left: 0;
      }
    }
    .flex-next {
      right: em(-58) !important;
      opacity: 1;
      top: 55%;
      &:before {
       transform: rotate(180deg);
       background-size: 1em 2.82em !important;
       width: 1.5em;
       height: 2.82em;
       top: 0;
       left: 0;
     }
   }
 }
}
}
}



.column-subheading {
  font-size: $small-font-size;
  line-height: em(22,18);
  font-family: $base-font-family;
  font-weight: 500;
  color: $light-blue;
  text-transform: uppercase;
}

/*=============== Media Object ===============*/

.media-object {
  overflow: hidden;
}

.media-object-img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 5%;
  img {
    width: 100%;
  }
}

.media-object-body {
  width: 75%;
  float: left;
}

.media-object-header {
  margin-top: 0;
  margin-bottom: .15em;
}

.media-grid-2 {
  > * {
    margin-bottom: $baseline*2;
  }
  @include mq(medium) {
    > * {
      @include span-columns(4.5 of 9);
      @include omega(2n);
      margin-bottom: $baseline*3;
    }
  }
}


/*======= Responsive iFrame / YouTube / HTML5 Video =======*/

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-top: 1.8em;
  iframe, object, embed, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*=============== Full Width CTA Test ===============*/


.fwc-heading{
margin-bottom: em(50);
}
.fwc-bottom{
  position: relative;
  max-width: em(930);
  margin: em(95) auto 0 auto;
  &::before{
    content: '';
    border: 2.5px solid #e4e4e4;
    width: 100%;
    position: absolute;
    border-radius: 5px;
    top: -40px;
    max-width: em(930);
    left: 50%;
    transform: translateX(-50%);
  }
  @include mq(large){
    &::before{
      display: block;
    }
  }
}
.fwc-title{
  text-transform: none;
  display: inline
}
.fwc-link{
  color: $light-blue;
  font-size: $xxlarge-font-size;
  text-decoration: none;
  display: inline
}


/*=============== Click to Expand ===============*/

.click-expand {
  clear: both;
  overflow: hidden;
  margin-bottom: $baseline*3;
  @include transition (all .2s ease-in-out);
  background-color: $medium-light-gray;
  border-radius: 5px;
  &.active {
    &:hover {
      // background-color: $white;
      .ce-header {
        //color:$blue;
      }
    }
    .ce-header {
      background-color: $medium-light-gray;
      color: $light-blue;
      &:after {
        content: '-';
        color: $black;
        right: em(16);
        font-weight: 300;
        font-size: em(20);
        top: 10px;
      }
    }
    .ce-body {
      display: block;
      opacity: 1;
      @include animation(click-expand .5s 1);
      @include animation-fill-mode(backwards);
      @include animation-delay(.05s);
      padding-left: em(40);
      padding-right: em(40);
      padding-top: $baseline*3.5;
      padding-bottom: $baseline*3.5;
      display: block;
      @include margin-fix;
    }
  }
  &:hover {
    .ce-header {
      //color:$white;
    }
  }
}

.ce-header {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding-left: em(25);
  padding-right: em(25);
  padding-top: $baseline*1.1;
  padding-bottom: $baseline*1.1;
  background-color: $base-color;
  color: $white;
  font-size: $xmedium-font-size*0.8;
  font-weight: 600;
  &:after {
    content: '+';
    color: $base-accent-color;
    padding-left: 8px;
    position: absolute;
    right: em(16);
    font-weight: 300;
    font-size: em(20);
    top: 10px;
  }
  @include mq(medium){
    font-size: $xmedium-font-size;
  }
}

.ce-body {
  display: none;
  opacity: 0;
}

@include keyframes(click-expand) {
  from {
    //@include transform(scale(0));
    opacity: 0;
  }
  to {
    //@include transform(scale(1));
    opacity: 1;
  }
}


/*=============== Social Media Icons ===============*/

.social-wrap {
  overflow: hidden;
  a {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    path {
      @include transition (all .1s linear);
    }
    &:hover {
      opacity: .75;
      path {
        fill: $blue;
      }
    }
  }
  img {
    display: inline-block;
    margin: 0 auto;
    width: 1.1em;
    height: auto;
    vertical-align: middle;
  }
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  /*span {
    background-color:$white;
    border-radius:3px;
    display:inline-block;
    padding:.15em;
    img {
      display:block;
      margin:0 auto;
    }
  }*/
}


/*=============== Slide Panel ===============*/

.slide-panel {
  display: none;
  position: fixed;
  background: $dark-gray;
  color: #fff;
  height: 100%;
  width: em(340);
  right: em(-340);
  top: 14%;
  z-index: 10;
  @include transition (right 0.4s ease-in-out);
  h2 {
    padding: .2em 1em;
  }
  p {
    background: $dark-gray;
    padding: .25px 2em;
  }
  label {
    color: $white !important;
  }
  &:hover {
    right: 0px;
  }
  @include mq(medium) {
    display: block;
  }
}

.slide-panel-button {
  position: absolute;
  top: 50px;
  right: 340px;
  padding: 20px 20px;
  background: $dark-gray;
  min-width: 200px;
}


/*=============== Slide Box ===============*/

#last {
  margin: 0;
  padding: 0;
}

#slidebox {
  padding: em(10) em(10) em(10) em(16);
  position: fixed;
  bottom: 0;
  right: em(-430);
  z-index: 1000;
  width: 100%;
  background-color: $base-color;
  @include mq(medium) {
    width: auto;
  }
}

a.close {
  //background: transparent url(http://cdn2.hubspot.net/hub/53/file-527841348-gif/close.gif?t=1402397452961) no-repeat top right;
  background-color: white;
  //background-color:rgba(255,255,255,.75);
  color: $blue;
  text-align: center;
  float: left;
  padding: 0 $baseline;
  font-size: em(11);
  border-radius: em(3);
  position: absolute;
  cursor: pointer;
  top: 1.5em;
  right: 2em;
  //display:none;
}

a.close:hover {
  background-color: rgba(255, 255, 255, .75);
}


/*=============== Accordion Tabs ===============*/

.accordion-tabs {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $tab-border: 1px solid $base-border-color;
  $tab-content-background: lighten($light-gray, 10);
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: rgba(255, 255, 255, 0);
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;
  @include clearfix;
  line-height: 1.5;
  margin-bottom: $base-spacing;
  padding: 0 !important;
  ;
  @include media(max-width $tab-mode) {
    border-radius: $base-border-radius;
    // border: $tab-border;
  }
  .tab-header-and-content {
    list-style: none;
    //font-size:1.15em;
    margin-bottom: 0;
    &:after {
      display: none;
    }
    @include media($tab-mode) {
      display: inline;
    }
    &:first-child .tab-link {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      @include media(max-width $tab-mode) {
        border-top: 0;
      }
    }
    &:last-child .tab-link {
      @include media(max-width $tab-mode) {
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
      }
    }
  }
  .tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $dark-gray;
    display: block;
    font-weight: bold;
    font-size: $xmedium-font-size;
    padding: $base-spacing/2 $gutter/2;
    text-decoration: none;
    font-family: $header-font-family;
    border-bottom: 0;
    @include media($tab-mode) {
      display: inline-block;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      border-top: 0;
    }
    &:hover {
      color: $base-link-color;
      border-bottom: 0;
    }
    &:focus {
      outline: none;
    }
    &.is-active {
      background-color: $tab-active-background;
      position: relative;
      color: $light-blue;
    &::before{
      content: '';
      border: 2.7px solid $light-blue;
      width: 100%;
      position: absolute;
      border-radius: 5px;
      top: 0;
      left: 0;
        // display: none;
    }
      @include media($tab-mode) {
        background-color: $tab-active-background;
        // border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }
  .tab-content {
    background-color: $medium-light-gray;
    padding-left: em(40);
    padding-right: em(40);
    padding-top: $baseline*3.5;
    padding-bottom: $baseline*3.5;
    display: none;
    border-radius: 5px;
    // padding: $base-spacing $gutter;
    width: 100%;
    @include margin-fix;
    @include media($tab-mode) {
      float: left;
    }
  }
}

/*=============== HubSpot Thumbnail Slider Gallery  ===============*/

.hs_cos_gallery_thumbnails {
  .hs_cos_gallery_slide {
    &:hover {
      cursor: pointer;
    }
  }
  img {
    height: em(60);
    object-fit: cover;
    border: 1px solid $base-border-color;
  }
  .slick-current {
    img {
      border: 1px solid $base-accent-color;
    }
  }
}

/*=============== Misc ===============*/

hr {
  display: block;
  clear: both;
}

figure {
  margin: 0;
  padding: 0;
}

.wp-pagenavi {
  > * {
    margin-right: .75em;
  }
}
/*=============== Button Wrap  ===============*/
.button-wrap{
  h2{
    margin-bottom: em(25);
  }
}

/*=============== Lightbox / Magnific Popup  ===============*/

.white-popup {
  position: relative;
  background: $white;
  padding: 2.5em;
  width: auto;
  max-width: em(600);
  margin: em(20) auto;
  > * {
    margin-top: 0;
  }
}

.mfp-fade-side {
  .mfp-content, .white-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }
}


/* overlay at start */

.mfp-fade.mfp-bg {
  opacity: 0;
  @include transition (all .5s ease-in-out);
}


/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}


/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}


/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  @include transition (all .5s ease-in-out);
  @include transform(translateY(100px));
}


/* content animate it */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  @include transform(translateY(0px));
}


/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  @include transform(translateY(100px));
}


/*=============== Layouts  ===============*/

.page-intro {
  background-color: $light-gray;
  .inner-wrap {
    padding-top: $baseline*3;
    padding-bottom: $baseline*3;
  }
  h1 {
    margin: 0;
  }
  p {
    margin: .5em 0 0 0;
    @extend .emph;
  }
}

.site-content {
  @include mq(large) {
    &.one-column {
      .site-content-primary {
        @include span-columns(12 of 12);
        @include omega;
      }
      .site-content-secondary {
        @include span-columns(12 of 12);
        @include omega;
      }
      .additional-content {}
    }
    &.two-column {
      .site-content-primary {
        @include span-columns(9 of 12);
      }
      .site-content-secondary {
        @include span-columns(3 of 12);
        @include omega;
      }
      .additional-content {}
    }
    &.three-column {
      .site-content-primary {
        @include span-columns(4 of 12);
      }
      .site-content-secondary {
        @include span-columns(4 of 12);
      }
      .additional-content {
        @include span-columns(4 of 12);
        @include omega;
      }
    }
    &.two-column-alt {
      .site-content-primary {
        @include span-columns(8 of 12);
      }
      .site-content-secondary {
        @include span-columns(4 of 12);
        @include omega;
      }
      .additional-content {}
    }
  }
}


/*=============== Product Grid ===============*/
.product-grid-wrap{
  .solution-services-module{
    .inner-wrap{
      padding-bottom: em(40);
    }
  }
}
.product-grid {
  clear: both;
}

.product-grid-item {
  font-size: .875em;
  text-decoration: none;
  text-align: center;
  background-color: $white;
  padding: $baseline*2;
  border-bottom: $base-border;
  border-right: $base-border;
  overflow: hidden;
  display: block;
  @include transition (all .15s ease-in-out);
  &:hover {
    //background-color: $light-gray;
    border-bottom: 1px solid $gray;
    border-right: 1px solid $gray;
    .product-grid-item-img {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.07);
      -o-transform: scale(1.07);
      transform: scale(1.07);
    }
  }
  @include mq(medium) {
    font-size: .75em;
    margin-bottom: $baseline*3;
  }
  @include mq(large) {
    font-size: 1em;
  }
  @include mq(huge) {}
}

.product-grid-item-header-wrap {
  @include mq(medium) {
    height: 4em;
    line-height: 4em;
    margin-bottom: $baseline*2;
    .product-grid-item-header {
      display: inline-block;
      vertical-align: middle;
    }
  }
  @include mq(large) {
    height: 4em;
    line-height: 4em;
  }
}

.product-grid-item-header {
  font-size: em(18);
  color: $base-color;
  text-decoration: none;
  margin: 0 0 0 0;
  width: 70%;
  float: right;
  text-align: left;
  clear: none;
  @include mq(medium) {
    width: auto;
    float: none;
    text-align: center;
  }
}

.product-grid-item-subheader {
  color: $black;
  margin: 0 0 $baseline*2 0;
  width: 70%;
  float: right;
  text-align: left;
  clear: none;
  font-size: em(15);
  @include mq(medium) {
    width: auto;
    float: none;
    text-align: center;
  }
  @include mq(large) {
    min-height: $baseline*6;
  }
}

.product-grid-item-img {
  float: left;
  width: 25%;
  margin-top: -1em;
  display: block;
  margin: 0 auto;
  @include transition (all .15s ease-in-out);
  @include mq(medium) {
    margin-top: 0;
    float: none;
    width: auto;
  }
}

.product-grid-item-link {
  margin: $baseline*2 0 0 0;
  float: right;
  text-align: left;
  clear: none;
  @extend .btn;
  font-size: .75em;
  @include mq(medium) {
    //@extend .small-font-size;
    width: auto;
    float: none;
    text-align: center;
  }
}


/*=============== Product Carousel ===============*/

.product-carousel {}

.product-item {
  @include mq(small) {
    @include span-columns(3 of 6);
    @include omega(2n);
  }
  @include mq(medium) {
    @include span-columns(3 of 12);
  }
}


/*=============== Resources Module ===============*/

.resources-module {
  background-color: $white;
}

.rm-item-wrap {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include mq(medium) {
    @include flex-wrap(nowrap);
  }
  > * {
    @include flex(auto);
    @include mq(medium) {
      @include flex(1);
    }
  }
}

.rm-item {
  text-align: center;
  //background-color: $light-gray;
  background-color: $light-gray;
  padding: 1em !important;
  &:hover {
    .rm-item-img {
      @include transform(scale(1.05));
    }
  }
  @include mq(medium) {
    margin-bottom: 0;
  }
}

.rm-item-cta {
  font-size: .75em;
  // padding: 0.5em 1em;
  font-weight: bold;
}

.rm-item-img {
  @include transition(all .15s ease-in-out);
  margin-bottom: $baseline*2;
  img {
    max-width: 100%;
    object-fit: contain;
    height: 19.375em;
  }
}

.rm-item-title {
  text-decoration: none;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  text-align: center;
  //background-color:red;
  height: 2.5em;
  line-height: 2.5em;
  color: $base-color;
  position: relative;
  z-index: 10;
  span {
    line-height: 1.25em;
    display: inline-block;
    color: $base-color;
  }
  // &:after {
  //     content: '';
  //     position: relative;
  //     display:inline-block;
  //    // background-color:red;
  //     width: .75em;
  //     height:.75em;
  //     margin-left:.25em;
  //     background-position: center;
  //     background-repeat: no-repeat;
  //     background-image: url(http://cdn2.hubspot.net/hubfs/1793355/img/ico-arrow-orange.svg);
  //   }
}


.three-col-content {
  > div {
    margin-bottom: em(40);
  }
  .gform_wrapper {
    max-width: em(600);
    width: 100%;
    margin: 0 auto;
  }
  @include mq(large) {
    > div {
      float: left;
      width:30%;
      margin-bottom: em(20);
      &:nth-of-type(1) {
        padding-right: 2%;
        width: 40%;
      }
      &:nth-of-type(2) {
        padding-right: 1%;
        padding-left: 5px;
      }
    }
  }
  @include mq(xlarge) {
    > div {
     width: 33.33%;
     &:nth-of-type(1) {
      width: 33.33%;
     }
   }
 }
}



/*============Drop Down Test==============*/
.dropdown-nav {
  margin: 0 auto;
  h4 {
    margin-top: em(16);
    margin-bottom: em(13);
  }
}
.dn-nav {
  max-width: em(262);
  font-family: $header-font-family;
  li {
    background-color: $dark-blue;
    border-bottom: 1px solid $white;
    position: relative;
    &.active {
      background-color: $light-blue;
      > a {
        border-bottom: 1px solid $white;
      }
    }
    a {
      color: $light-gray;
      display: block;
      font-weight: 500;
      font-size: em(18);
      line-height: em(24,18);
      text-decoration: none;
      padding: em(11,18) em(40,18) em(11,18) em(16,18);
    }
  }
  .menu-item-has-children {
    .m-subnav-arrow {
      cursor: pointer;
      padding-right: 0em;
      background-image: url(img/down-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: em(12,18) em(12,18);
      display: block;
      width: em(40,16);
      height: em(46,16);
      //height: $nav-height;
      position: absolute;
      background-color: transparent;
      right: 0;
      top: 0;
      bottom: 0;
    }
    &.active {
      .m-subnav-arrow {
        transform: rotate(180deg);
      }
    }
    ul {
      margin-bottom: 0;
      padding: em(5,19) 0;
      display: none;
      background-color: $light-gray;
      li {
        margin-bottom: 0;
        background-color: $light-gray;
        border-bottom: 0;
        a {
          color: $extra-dark-gray;
          padding: em(2,18) em(40,18) em(2,18) em(16,18);
          font-size: $small-font-size;
          line-height: em(30,17);
          font-family: $base-font-family;
        }
        &:not([class]) { 
          margin-bottom: 0;
          padding:0;
          &:after {
            display:none;
          }
        }
        &:hover {
          background-color: $blue;
          a {
            color: $white;
          }
        }
      }
      &:not([class]) {
        margin-bottom: 0;
      }
    }
    ul {
      &.active {
        display:block;
      }
    }
  }
}

.form-title {
  margin-top: 25px !important;
}

/*============SIDE NAVIGATION TEST==============*/
.side-nav {
  margin: 0 auto;
  h4 {
    margin-top: em(16);
    margin-bottom: em(13);
  }
}
.sn-nav{
  li{
    border-bottom: 1px solid $light-skyblue;
    a{
      text-decoration: none;
      color: $dark-blue;
      font-size: em(18);
      font-weight: 600;
      margin: em(15) 0 !important;
      display: block;
      &:hover{
        color: $light-blue;
      }
    }
  }
}

/*==========form style==========*/

.form-test-module {
  .gform_wrapper {
    background-color: $extra-light-gray;
    padding: em(20) em(20) em(27) em(20);
    label {
      &.gfield_label {
        color: $dark-gray;
        font-weight: 500 !important;
        font-size: $small-font-size;
        line-height: em(22,18);
        margin-bottom: 0;
        border-radius: 0 !important;
      }
      &.active{
        top: -18px;
      }
    }
    form {
      ul {
        li.gfield {
          margin-top: 0 !important;
        }
      }
    }
    .gform_title {
      display: none;
    }
    .gform_heading {
      display: none;
    }
    .gfield_required {
      color: $dark-gray;
      margin-left: 0;
    }
    .gform_footer {
      text-align: center;
      margin: em(10) 0 0 0;
      padding-bottom: 0 !important;
      padding-top: 0 !important;
      input[type="submit"] {
        font-size: em(18);
        line-height: em(20,18) !important;
        margin: 0 em(16,18) 0 0;
        min-width: em(100,18);
        padding: em(10,18) em(10,18);
        //border: 1px solid $red;
        background-color: $light-blue;
        border: 1px solid $light-blue;
        width: auto;
        color: $white;
        border-radius: 0;
        &:hover {
          background-color: $purple;
          border: 1px solid $purple;
          color: $blue;
          //border: 1px solid $white;
        }
      }
    }
    select {
      padding: em(2,18) em(20,18) em(2,18) em(5,18);
      color: rgba(34, 34, 34, 0.69);
      font-weight: 400;
      font-size: em(18);
      line-height: em(28,18) !important;
    }
    ul.gform_fields li.gfield {
      padding-right: 0;
      margin-bottom: em(24);
    }
    textarea, input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, select[multiple="multiple"], select {
      background-color: $white;
      margin-bottom: em(5);
      border:1px solid $white;
      border-radius: 0;
      box-shadow: none;
    }
    .ginput_container_select{
      position: relative;
    /*Don't really need this just for demo styling*/
      &::after{
        content: '';
        position: absolute;
        background-image: url(img/drop-arrow.png);
        background-repeat: no-repeat;
        right: -3px;
        top: 22px;
        display: block;
        width: 1.0625em;
        height: 0.625em;
        background-size: 9px 10px;
      }
      &::before{
        content: '';
        position: absolute;
        background-image: url(img/drop-arrow.png);
        transform: rotate(180deg);
        background-repeat: no-repeat;
        right: 5px;
        top: 10px;
        display: block;
        width: 1.0625em;
        height: 0.625em;
        background-size: 9px 10px;
      }
      select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
    select::-ms-expand {
      display: none;
    }
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
      padding: 7px 4px !important;
    }
    input:not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="file"]) {
      line-height: initial;
      min-height: auto;
    }
    .top_label div.ginput_container {
      margin-top: 4px !important;
    }
    .gfield.gf_left_half{
      width: 100%;
      float: left;
      margin-right: em(10);
    } 
    .gfield.gf_right_half{
      width: 100%;
      float: left;
    } 
  }

  @include mq(medium){
    .gform_wrapper {
      .gform_footer {
        input[type="submit"] {
          //min-width: em(158);
        }
      }
      .gfield.gf_left_half{
        width: 48%;
        float: left;
        margin-right: em(10);
      } 
      .gfield.gf_right_half{
        width: 48%;
        float: left;
      } 
    }
  }
    
}
