body {
  //@include font-feature-settings("kern","liga","frac", "pnum");
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 1em;
  line-height: $base-line-height;
  @include mq(mediumv) {
    font-size:.875em;
  }
  @include mq(smallv) {
    font-size:.75em;
  }
}

//Base Fonts
@mixin base-font-size {
  font-size: em(18);
  @include mq(medium) {
    font-size: em(20);
  }
  @include mq(large) {
    font-size: em(20);
  }
}

//Medium Fonts
@mixin medium-font-size {
  font-size: $medium-font-size*.75;
  @include mq(medium) {
    font-size: $medium-font-size*.9;
  }
  @include mq(large) {
    font-size: $medium-font-size;
  }
}


//XMedium Fonts
@mixin xmedium-font-size {
  font-size: $xmedium-font-size*.82;
  @include mq(medium) {
    font-size: $xmedium-font-size*.9;
  }
  @include mq(large) {
    font-size: $xmedium-font-size;
  }
}

//Large Fonts
@mixin large-font-size {
  font-size: $large-font-size*.75;
  @include mq(medium) {
    font-size: $large-font-size*.9;
  }
  @include mq(large) {
    font-size: $large-font-size;
  }
}

//xLarge Fonts
@mixin xlarge-font-size {
  font-size: $xlarge-font-size*.75;
  @include mq(medium) {
    font-size: $xlarge-font-size*.9;
  }
  @include mq(large) {
    font-size: $xlarge-font-size;
  }
}

//xxLarge Fonts
@mixin xxlarge-font-size {
  font-size: $xxlarge-font-size*.75;
  @include mq(medium) {
    font-size: $xxlarge-font-size*.9;
  }
  @include mq(large) {
    font-size: $xxlarge-font-size;
  }
}

//Display Fonts
@mixin display-font-size {
  font-size: $display-font-size*.75;
  @include mq(medium) {
    font-size: $display-font-size*.9;
  }
  @include mq(large) {
    font-size: $display-font-size;
  }
}

.display-font-size {
  @include display-font-size;
}

.xlarge-font-size {
  @include xlarge-font-size;
}

.large-font-size {
  @include large-font-size;
}

.medium-font-size {
  @include medium-font-size;
  margin-bottom: $baseline*4;
  margin-top: $baseline*3.5;
}

.base-font-size {
  @include base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0;
  color: $base-color;
  font-weight: 400;
  text-transform: uppercase;
  span{
    font-weight: 600;
  }
}

h1 {
  @include display-font-size;
  margin-top: 0;
  margin-bottom: 24px;
  

}

h2 {
  @include xxlarge-font-size;
  margin-top: 24px;
  margin-bottom: 16px;
}

h3 {
  @include xlarge-font-size;
  margin-top: 24px;
  margin-bottom: 16px;
}

h4 {
  @include large-font-size;
  margin-top: 16px;
  margin-bottom: 16px;
}

h5 {
  @include xmedium-font-size;
  margin-top: 16px;
  margin-bottom: 16px;
}

h6 {
  @include medium-font-size;
  margin-top: 16px;
  margin-bottom: 16px;
}

p {
  margin: 16px 0;
  font-size: $base-font-size;
  line-height: em(24,16);
  color: $dark-gray;
}

.emph {
  font-size: $medium-font-size*0.75;
  font-weight: normal;
  color: $light-blue;
  margin-top: em(20);
  line-height: em(38, 30);
  @include mq(medium) {
    font-size: $xlarge-font-size;
  }
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: underline;
  &:hover {
    color: $hover-link-color;
  }
  &:focus{
    color: $base-link-color;
  }
  &:active {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: 2px solid $vlight-gray;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing*1.5 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding: 0;
  margin: 0;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;
  &:before {
    content: "\2014 \00A0";
  }
}
